* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Vazir', Courier, monospace;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

textarea {
  resize: none;
}

/****************************/

#app {
  display: flex;
  height: 100%;

  >.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: stretch;
    height: 100%;
    max-width: 400px;
    background: #AAAAAA;
    transition: width 100ms;
    width: 0;

    &.open {
      width: 300px;
    }

    >#sessions {
      margin-top: 200px;
      list-style-type: none;
      user-select: none;
      cursor: default;

      >.item {
        direction: rtl;
        padding: 10px 5px;

        &.selected {
          background: #1e211d;
          color: #dee0f5;
        }
      }
    }
  }

  >.main {
    height: 100%;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    background-color: blue;

    >.session {
      display: flex;
      flex-direction: column;
      height: 100%;

      >#map {
        height: 500px;
        width: 100%;
        flex: 0 0 auto;
      }

      >.bottom_bar {
        display: flex;
        align-items: end;
        flex: 0 0 auto;
        transition: margin-left 100ms;
        margin-left: 60px;

        &.open {
          margin-left: 0;
        }

        >.prompt {
          field-sizing: content;
          border: 2;
          margin-right: 10px;
          padding: 10px;
          border-color: #DDDDDD;
          background: #EEEEEE;
          border-radius: 20px;
          flex: 1 1 auto;
          min-height: 60px;
          max-height: 300px;
          direction: rtl;
          font-size: 20px;
        }

        >.send {
          background: #dee0f5;
          color: #1e211d;
          border-radius: 10px;
          border: 0;
          width: 60px;
          height: 60px;
          font-size: 24px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
        }
      }
    }
  }

  >#humbugger_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  >#new_session_button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
  }
}

.suggestions {
  direction: rtl;
  flex: 1 1 auto;
  background-color: grey;
  overflow-y: auto;



  >.item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 4rem;

    >.options {
      display: flex;
      flex-direction: column;
      align-items: center;

      >.step_number {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: rgb(239, 236, 150);
        color: rgb(106, 94, 0);
        text-align: center;
        display: grid;
        place-items: center;
        font-weight: bold;
      }

      >.next_suggestion,
      .previous_suggestion {
        padding: 5px;
        width: 35px;
        height: 35px;
        outline: transparent;
        border-radius: 50%;
        background-color: rgb(239, 236, 150);
        color: rgb(106, 94, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }

    >.card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      /* width: 40%; */
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: inline-block;
      vertical-align: top;
      position: relative;
    }
  }
}